#tablero {
    display: grid;
    margin:50px auto;
    padding:50px;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width:400px;
    height:200px;
}

#tablero div {
  background-color: #66547e;
  border-left: 2px solid #23213b;
  border-top: 2px solid #23172e;
  border-right: 2px solid #23172e;
  border-bottom: 2px solid #23172e;

}body{
    text-align: center;
}